<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left info">
                <p><%= current_user %></p>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">Dashboards</li>
            <li <% if @active == "main"%>class="active"<% end %>><a href="/"><i class="fa fa-link"></i> <span>Main Dash</span></a></li>
            <li class="treeview">
                <a href="#"><i class="fa fa-calendar"></i> <span>Date Views</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li <% if @active == "monthly"%>class="active"<% end %>><a href="/monthly">Monthly</a></li>
                    <li <% if @active == "weekly"%>class="active"<% end %>><a href="/weekly">Weekly</a></li>
                    <li <% if @active == "daily"%>class="active"<% end %>><a href="/daily">Daily</a></li>

                </ul>
            </li>   
            <li class="treeview">
                <a href="#"><i class="fa fa-users"></i> <span>Users</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="/users"><i class="fa fa-users"></i> <span>All Users</span></a></li>
                    <li><a href="/active_users"><i class="fa fa-users"></i> <span>Active Users</span></a></li>
                </ul>
            </li>                       
            <li><a href="/reps"><i class="fa fa-link"></i> <span>Rep Dash</span></a></li>   

            <li class="treeview">
                <a href="#"><i class="fa fa-gamepad"></i> <span>Games</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="/games">Main Game Dashboard</a></li>
                    <% Game.where.not(device_type:nil).all.each do | g | %>
                         <li><%= link_to g.name, game_path(g.id) %></li>
                    <% end %>
                </ul>
            </li>  

        </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
